* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

.main {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.bgImage {
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;


}

.pageCover {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.489);
    z-index: 10;

}

.navBar {
    max-width: 1200px;
    width: 80%;
    margin: 1.5rem auto;
    border-radius: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5%;
    padding-right: 4%;
    padding-left: 4%;

}

.forecast {
    height: 5rem;
    width: 5rem;

}

.searchBar {
    min-width: 100px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    box-shadow: -.2rem .3rem .4rem rgba(11, 11, 11, 0.628);
}

input {
    padding: .9rem 1.5rem;
    box-sizing: border-box;
    border: .15rem solid #ccc;
    border-radius: 5rem;
    font-size: 1rem;
    background-color: white;
}


.speak img {
    width: 1.1rem;
    height: .9rem;
}

.block {
    max-width: 1200px;
    width: 80%;
    margin: 3rem auto;
    padding: 2.5rem 4%;
    border-radius: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #31363f88;
    box-shadow: -.3rem .2rem .6rem rgba(5, 5, 5, 0.674);

}

.tempdiv {

    display: flex;
    margin-bottom: 1rem;
}

.tempdiv img {
    height: 5.6vw;
    width: 5.6vw;
}

/* .c1 {
    width: 50%;
} */

.c2 {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    overflow: hidden;
}

.temp {
    z-index: 20;
    font-size: 5vw;
    font-weight: 700;
    color: white;
}

.city {
    z-index: 20;
    padding-top: .2rem;
    padding-bottom: .8rem;
    font-size: 4vw;
    font-weight: 600;
    color: white;


}

.chances {
    display: flex;
    align-items: center;
}

.override {
    font-size: 2vw;
    font-weight: 400;
    padding-bottom: 0;
    padding-left: .5rem;

}

.overrideStyle {
    font-size: 2vw;
    font-weight: 400;
    padding-bottom: 0;
}

.favcon {
    height: 3vw;
    width: 3vw;
}

.riseSet {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vw;
}

.riseSet img {
    height: 5vw;
    width: 5vw;
}

.rise-setTime {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2vw;
    font-weight: 400;
}

.subC1 {
    padding: 1.6vw 0;
    display: flex;
    flex-shrink: inherit;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 2vw;
    font-weight: 400;
    gap: 1vw;

}

.subC1 img {
    height: 4vw;
    width: 4vw;
}

#preloader {
    background: #33495F url(./images/loader.gif) no-repeat center center;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
}


@media only screen and (max-width: 1064px) {


    .block {
        display: flex;
        flex-direction: column;
        padding-left: 6%;
        padding-right: 6%;
        background-color: #31363f00;
        gap: 5vw;
    }

    .c1 {
        width: 100%;
    }

    .subC1 {
        width: 50%;
    }

    .c2 {
        width: 100%;
    }

}

@media only screen and (max-width: 550px) {
    .forecast {
        display: none;
    }

    .navBar {
        padding-left: 0;
        padding-right: 0;
        margin-top: 5rem;
    }

    .searchBar input {
        width: 100vw;
        padding-left: 15%;
        font-size: 1.2rem;

    }

    .temp {
        font-size: 8vw;
    }

    .city {
        font-size: 6vw;
    }

    .override {
        font-size: 4vw;
    }

    .overrideStyle {
        font-size: 4vw;
    }

    .favcon {
        height: 5vw;
        width: 5vw;
    }

    .riseSet img {
        height: 6vw;
        width: 6vw;
    }

    .rise-setTime {
        font-size: 4vw;
    }

    .subC1 {
        font-size: 4vw;
        width: 90%;
    }

    .subC1 img {
        height: 6vw;
        width: 6vw;
    }

}