* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.bgImage {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.pageCover {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.489);
    z-index: 10;

}

.navBar {
    max-width: 1200px;
    margin: 1.5rem auto;
    border-radius: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5%;
    padding-right: 4rem;
    padding-left: 4rem;

}

.forecast {
    height: 5rem;
    width: 5rem;
}

.searchBar {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    box-shadow: -.2rem .3rem rgba(11, 11, 11, 0.628);
}

input {
    padding: .7rem 1.5rem;
    box-sizing: border-box;
    border: .15rem solid #ccc;
    border-radius: 3rem;
    font-size: 1rem;
    background-color: white;
    float: right;
}


.speak img {
    width: 1.1rem;
    height: .9rem;
}

.block {
    max-width: 1200px;
    margin: 3rem auto;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    border-radius: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #31363f88;
    box-shadow: -.2rem .4rem rgba(240, 237, 237, 0.041);

}

.tempdiv {
    display: flex;
    margin-bottom: 1rem;
}

.tempdiv img {
    height: 5.6rem;
    width: 5.6rem;
}

.c2 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding-right: 4rem;
}

.temp {
    z-index: 20;
    font-size: 5rem;
    font-weight: 700;
    color: white;
    padding-left: 4rem;
}

.city {
    z-index: 20;
    padding-top: .2rem;
    padding-left: 4rem;
    padding-bottom: .8rem;
    font-size: 3rem;
    font-weight: 600;
    color: white;


}

.chances {
    display: flex;
    align-items: center;
}

.override {
    font-size: 1.5rem;
    font-weight: 400;
    padding-bottom: 0;
    padding-left: .5rem;

}

.overrideStyle {
    font-size: 1.5rem;
    font-weight: 400;
    padding-bottom: 0;
}

.favcon {
    height: 2.5rem;
    width: 2.5rem;
    margin-left: 4rem;
}

.riseSet {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.riseSet img {
    height: 4rem;
    width: 4rem;
}

.rise-setTime {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.5rem;
    font-weight: 400;
}

.subC1 {
    padding: 1.5rem;
    padding-left: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 1.5rem;
    font-weight: 400;
    gap: 1rem;

}

.subC1 img {
    height: 3rem;
    width: 3rem;
}

#preloader {
    background: #33495F url(./images/loader.gif) no-repeat center center;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
}